In [7]:
print("Ayesha")

Ayesha

In [8]:
x,y=3,4
print(x,y)

3 4

In [10]:
nam1="sara"
nam2="ali"
print(nam1,nam2)

sara ali

In [12]:
name1="Ayesha"
name2="Ahmed"
print(name1,name2,sep='\n')

Ayesha
Ahmed

In [15]:
a="Abeeha"
print(a.upper())

ABEEHA

In [17]:
a="ali"
print(len(a),a.lower(),sep='\n')

3
ali

In [18]:
a="usman"
print(a.find("m"))

2

In [19]:
a="Mujtibah"
print(a.capitalize())

Mujtibah

In [20]:
print(name1.endswith("a"))

True

In [21]:
print(name2.startswith("A"))

True

In [22]:
print(name1.startswith("f"))

False

In [23]:
print(name1.count("A"))

1

In [24]:
print("hey there".count("t"))

1

In [25]:
print(name1.isdecimal())

False

In [26]:
print(name2.casefold())

ahmed

In [27]:
print(name1.isdigit())

False

In [28]:
print(name2.expandtabs())

Ahmed

In [29]:
print("subhan ahmed".split())

['subhan', 'ahmed']

In [32]:
print(a.index("j"))

2

In [33]:
print("facebook".islower())

True

In [36]:
print("Hellow Strings".rfind("l"))

3

In [37]:
print(" I love pakistan. pakistan is my country".rfind("pakistan"))

18

In [38]:
str="     hellow sir "
print(str.strip())

hellow sir

In [39]:
print(str.lstrip())

hellow sir

In [41]:
print( "brother".replace("brother","sister"))

sister

In [43]:
str1=" this is my first assignment in python"
print(str1.title())

 This Is My First Assignment In Python

In [44]:
print (str1.split())

['this', 'is', 'my', 'first', 'assignment', 'in', 'python']

In [45]:
print(str1.isnumeric())

False

In [46]:
print(str1.isalnum())

False

In [48]:
str2="123xyz"
print(str2.isalnum())

True

In [51]:
print("brother".replace("brother","sister"))

sister

In [52]:
print(str2.center(40))

                 123xyz

In [54]:
print(str2.center(40,"_"))

_________________123xyz_________________

In [69]:
s="Happy"
r="Birthday"
f=s+r
print(f)

HappyBirthday

In [1]:
s="Happy"
r="Birthday"
f=s+r
print(f)
u ="to you"
f += u
print(f)

HappyBirthday
HappyBirthdayto you

In [66]:
s =" offer salah five"
s+="times a day"
print((s))

 offer salah fivetimes a day

In [79]:
 n=3
print(n)

3

In [85]:
n=4
n=n+4
print(n)

8

In [87]:
n=4
n +=4
print(n)

8